<div class="card">
	<% if style == 'gas' %>
		<div class="card-header text-white bg-primary">
			<i class="fas fa-burn"></i> <b><%= consumer.name %></b>
		</div>
	<% else %>
		<div class="card-header">
			<i class="fas fa-plug"></i> <b><%= consumer.name %></b>
		</div>
	<% end %>
	<div class="card-body">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#rekv">Реквізити</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#cont">Контакти</a>
		  </li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane container active" id="rekv">
				<br />
				<div class="row">
					<div class="col-md-12">
						<b>Повне найменування:</b><i> <%= consumer.full_name %>&nbsp; &nbsp;</i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<b>Адреса:</b><i> <%= consumer.address %></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<b>ЕДРПОУ:</b><i> <%= consumer.edrpou %>&nbsp; &nbsp;</i>
						<b>Код 1С:</b><i> <%= consumer.onec_id %>&nbsp; &nbsp;</i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<% if consumer.energy_consumer && style == 'energy' %>
							<b>Договір з постачання єлектроєнергіі:</b><i> <%= "№#{consumer.dog_en_num} від #{consumer.dog_en_date&.strftime('%d.%m.%Y')}" %>&nbsp; &nbsp;</i>
						<% end %>
						<% if consumer.gas_consumer && style == 'gas' %>
							<b>Договір з постачання газу:</b><i> <%= "№#{consumer.dog_gas_num} від #{consumer.dog_gas_date&.strftime('%d.%m.%Y')}" %></i>
						<% end %>
					</div>
				</div>
				<br />
			</div>
			<div class="tab-pane container fade" id="cont">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-borderless table-sm">
						  <thead>
						    <tr>
						      <th scope="col"></th>
						      <th scope="col">П.І.Б.</th>
						      <th scope="col">Телефон</th>
						      <th scope="col">E-mail</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Директор</th>
						      <td><i><%= consumer.director_name %></i></td>
						      <td><i><%= consumer.director_phone %></i></td>
						      <td><i><%= consumer.director_mail %></i></td>
						    </tr>
						    <tr>
						      <th scope="row">Бухгалтер</th>
						      <td><i><%= consumer.accountant_name %></i></td>
						      <td><i><%= consumer.accountant_phone %></i></td>
						      <td><i><%= consumer.accountant_mail %></i></td>
						    </tr>
						    <tr>
						      <th scope="row">Енергетик</th>
						      <td><i><%= consumer.engineer_name %></i></td>
						      <td><i><%= consumer.engineer_phone %></i></td>
						      <td><i><%= consumer.engineer_mail %></i></td>
						    </tr>
						    <tr>
						      <th scope="row">Кліент</th>
						      <td><i><%= client&.name %></i></td>
						      <td><i><%= client&.phone %></i></td>
						      <td><i><%= client&.email %></i></td>
						    </tr>
						    <tr>
					    	<% if style == 'gas' %>
					    	  <th scope="row">Менеджер газ</th>
					    	<% else %>
					    	  <th scope="row">Менеджер е/е</th>
					    	<% end %>
					    	  <td><i><%= manager&.name %></i></td>
					    	  <td><i><%= manager&.phone %></i></td>
						      <td><i><%= manager&.email %></i></td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<%= link_to consumers_path, class: "btn btn-outline-dark btn-block" do %>
					<i class="fas fa-undo-alt"></i> Повернутись
				<% end %>
			</div>
			<% if can? :manage, Consumer %>
				<div class="col-md-2">
					<%= link_to edit_consumer_path(consumer), class: "btn btn-outline-dark btn-block" do %>
						<i class="fas fa-edit"></i> Редагувати
					<% end %>
				</div>
				<div class="col-md-2">
					<%= link_to consumer, method: :delete, data: {confirm: "Ви впевнені що хочете видалити #{consumer.name}?"}, class: "btn btn-outline-danger btn-block" do %>
						<i class="fas fa-times"></i> Видалити
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>