<h3>Перелік споживачів</h3>
<% if can? :new, Consumer %>
	<%= link_to new_consumer_path, class: "btn btn-outline-dark" do %>
		<i class="fas fa-plus"></i> Новий споживач
	<% end %>
	<br>
<% end %>
<br>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th>#</th>
			<th>Найменування</th>
			<th class="text-center">Е/енергія</th>
			<th class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;Газ&nbsp;&nbsp;&nbsp;&nbsp;</th>
			<% if can? :manage, Consumer %>
				<th class="text-center">Надійшов запит</th>
				<th class="text-center">Надійшло кориг.</th>
			<% end %>
			<th class="text-right">ЕДРПОУ</th>
			<% if can? :manage, Consumer %>
				<th class="text-right">Код&nbsp;1С</th>
				<th class="text-right"></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% n = 0 %>
		<% @consumers.each do |consumer| %>
		<tr>
			<td><%= n += 1 %></td>
			<td><%= truncate(consumer.name, length: 50) %><br/>
				<small><%= "Дог. №#{consumer.dog_num} від #{consumer.dog_date&.strftime('%d.%m.%Y')}"%></small>
			</td>
			<td class="text-center">
				<% if consumer.energy_consumer %>
					<%= link_to consumer_en_payments_path(consumer), class: "btn btn-outline-primary" do %>
						&nbsp;&nbsp;<span class="fas fa-plug"></span>&nbsp;&nbsp;
					<% end %>
				<% end %>
			</td>
			<td class="text-center">
				<% if consumer.gas_consumer %>
					<%= link_to consumer_gas_payments_path(consumer), class: "btn btn-outline-primary" do %>
						&nbsp;&nbsp;<span class="fas fa-burn"></span>&nbsp;&nbsp;
					<% end %>
				<% end %>
			</td>
			<% if can? :manage, Consumer %>
				<td class="text-center">
					<% if consumer.has_new_message? %>
						<i class="fas fa-check"></i>
					<% end %>
				</td>
				<td class="text-center">
					<% if consumer.has_new_en_adjustment? && consumer.has_new_gas_adjustment? %>
						<span class="fas fa-plug"></span> / <span class="fas fa-burn"></span>
					<% elsif consumer.has_new_en_adjustment? %>
						<span class="fas fa-plug"></span>
					<% elsif consumer.has_new_gas_adjustment? %>
						<span class="fas fa-burn"></span>
					<% end %>
				</td>
			<% end %>
			<td class="text-right"><%= consumer.edrpou  %></td>
			<% if can? :manage, Consumer %>
				<td class="text-right"><%= consumer.onec_id %></td>
				<td class='text-right'>
					<div class="btn-group">
					<%= link_to edit_consumer_path(consumer), 
						class: "btn btn-outline-dark btn-sm" do %>
						<i class="fas fa-edit test-edit-payment"></i>
					<% end %>
					<%= link_to consumer, method: :delete, 
						class: "btn btn-outline-danger btn-sm",
						data: {confirm: "Ви впевнені що хочете видалити споживача #{consumer.name}?"} do %>
						<i class="fas fa-times test-delete-payment">&nbsp;</i>
					<% end %>
					</div>
				</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>