<%= render './consumers/card', consumer: @consumer, manager: @manager, style: 'gas' %>
<br>
<%= render './gastab', active: 1 %>
<br>
<h6>Розрахунки <%= l(DateTime.now, format: '%B %Y') %> р.</h6>
<table class="table table-striped table-sm">
	<thead>
		<th class="text-center">Сальдо на початок періоду, грн. з ПДВ</th>
		<th class="text-center">Замовлений обсяг, м3.</th>
		<th class="text-center">Планова ціна, грн. без ПДВ</th>
		<th class="text-center">Вартість, грн. без ПДВ</th>
		<th class="text-center">Вартість, грн. з ПДВ</th>
		<th class="text-center">&nbsp;&nbsp;&nbsp;Оплачено,&nbsp;&nbsp;&nbsp; грн.</th>
		<th class="text-center">Сальдо на кінець періоду, грн. з ПДВ</th>
	</thead>
	<tbody>
		<% if @current_gas_consumption %>
			<td class="text-center<%= ' text-danger' if @current_gas_consumption.opening_balance < 0 %>">
				<%= number_with_precision(@current_gas_consumption.opening_balance, precision: 2, delimiter: " ") %></td>
			<td class='text-center'><%= number_with_delimiter(@current_gas_consumption.volume, delimiter: " ") %></td>
			<td class='text-center'><%= number_with_precision(@current_gas_consumption.tariff, precision: 5, delimiter: " ") %></td>
			<td class='text-center'><%= number_with_precision(@current_gas_consumption.cost, precision: 2, delimiter: " ") %></td>
			<td class='text-center'><%= number_with_precision(@current_gas_consumption.cost_val, precision: 2, delimiter: " ") %></td>
			<td class='text-center'><%= number_with_precision(@current_gas_consumption.money, precision: 2, delimiter: " ") %></td>
			<td class="text-center<%= ' text-danger' if @current_gas_consumption.closing_balance < 0 %>">
				<%= number_with_precision(@current_gas_consumption.closing_balance, precision: 2, delimiter: " ") %></td>
		<% end %>
	</tbody>
</table>
<div class='row'>
	<div class='col-sm-9'>
		<h6>Графік оплати</h6>
		<table class="table table-striped table-sm">
			<thead>
				<th class="text-center">Дата місяця</th>
				<th class="text-center">% оплати</th>
				<th class="text-center">Планова сума оплати, грн.</th>
				<th class="text-center">Оплачено, грн.</th>
				<th class="text-center">Сальдо, грн.</th>
				<% if can? :manage, GasPayment %>
					<th></th>
				<% end %>
			</thead>
			<tbody>
				<% count = 0 %>
				<% @gas_payments.each do |payment| %>
					<tr>
						<td class="text-center"><%= payment.day %></td>
						<td class="text-center"><%= payment.percent %></td>
						<td class='text-center'><%= number_with_precision(@balance[count][:sum], precision: 2, delimiter: ' ') if @calculable %></td>
						<td class='text-center'><%= number_with_precision(@balance[count][:cur_payment], precision: 2, delimiter: ' ') if @calculable %></td>
						<td class='text-center'><%= number_with_precision(@balance[count][:cur_balance], precision: 2, delimiter: ' ') if @calculable %></td>
						<% if can? :manage, GasPayment %>
							<td class='text-right'>
								<div class="btn-group">
								<%= link_to edit_consumer_gas_payment_path(@consumer, payment), 
									class: "btn btn-outline-dark btn-sm" do %>
									<i class="fas fa-edit test-edit-payment"></i>
								<% end %>
								<%= link_to [@consumer, payment], method: :delete, 
									class: "btn btn-outline-danger btn-sm",
									data: {confirm: "Ви впевнені що хочете видалити плановий платіж?"} do %>
									<i class="fas fa-times test-delete-payment">&nbsp</i>
								<% end %>
								</div>
							</td>
						<% end %>
					</tr>
					<% count += 1 %>
				<% end %>
			</tbody>
		</table>
		<% if can? :manage, GasPayment %>
			<h6>Додати платіж</h6>
			<%= render 'form' %>
		<% end %>
	</div>
	<div class='col-sm-3'>
		<br>
		<b class=<%= "text-danger" if @current_balance && (@current_balance > 0)%>>Поточна заборгованість:</b>
		<br>
		<b class=<%= "text-danger" if @current_balance && (@current_balance > 0)%>><%= "#{number_with_precision(@current_balance, precision: 2, delimiter: ' ')} грн." if @calculable %><b>
		<br>
		<br>
		<% if @calculable %>
			<%= link_to consumer_gas_invoice_path(@consumer, sum: @current_balance, tariff: @current_gas_consumption.tariff, format: :pdf), 
				class: "btn btn-outline-dark btn-block", target: :_blank do %>
				<i class="fas fa-file-download"></i> Сформувати рахунок
			<% end %>
		<% else %>
			<button type="button" class="btn btn-outline-dark btn-block" disabled><i class="fas fa-file-download">
				</i> Сформувати рахунок</button>
		<% end %>
	</div>
</div>