<%= render './consumers/card', consumer: @consumer, manager: @manager, style: 'gas' %>
<br>
<%= render './gastab', active: 2 %>
<br>
<table class="table table-striped table-sm">
  <thead>
    <th class="text-center">Період</th>
    <th class="text-center">Сальдо на початок періоду, грн. з ПДВ</th>
    <th class="text-center">Фактичний обсяг, м3</th>
    <th class="text-center">Ціна, грн. без ПДВ</th>
    <th class="text-center">Вартість, грн. без ПДВ</th>
    <th class="text-center">Вартість, грн. з ПДВ</th>
    <th class="text-center">Оплачено, грн.</th>
    <th class="text-center">Сальдо на кінець періоду, грн. з ПДВ</th>
  </thead>
  <tbody>
  <% @previous_gas_consumptions.each do |consumption| %>
    <tr>
      <td class="text-center"><%= consumption&.date.strftime('%d.%m.%Y') %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.opening_balance, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.volume, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.tariff, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.cost, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.cost_val, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.money, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.closing_balance, delimiter: " ") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="#" class="btn btn-outline-dark"><i class="fas fa-file-download"></i> Отримати акт за <%= UA_MONTHS_SINGLE[1.months.ago.month] %> <%= 1.months.ago.year %> р.</a>
