<div class="card">
	<div class="card-header">
		<i class="fas fa-plug"></i> <b><%= @consumer.name %></b>
	</div>
	<div class="card-body">
		<div class='row'>
			<div class='col text-center'>
				<h5>Графік погодинного споживання з <%= @day_begin %> по <%= @day_end %> <%= I18n.t('date.month_names')[@monthly.date_cons.month]%></h5>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<%= line_chart @dailies_graph, ytitle: 'кВт*год', xtitle: 'години', height: "500px", discrete: true %>
			</div>
		</div>
		<div class='row'>
			<div class='col'>
				<%= form_tag consumer_monthly_dailies_path(@consumer, @monthly), method: 'get', class: "form-inline" do %>
		            <%= button_tag type: :submit, class: "btn btn-outline-dark" do %>
		                <i class="fas fa-chart-area"></i> Побудувати графік
		            <% end %>
		            <div class="form-group">
		                <label for="day_begin" class='mx-sm-3'= >з </label>
		                <%= select_tag 'day_begin', options_for_select((1..31),@day_begin), class: 'form-control' %>
		            </div>
		            <div class="form-group">
		                <label for="day_end" class='mx-sm-3'= >по </label>
		                <%= select_tag 'day_end', options_for_select((1..31),@day_end), class: 'form-control' %>
		            </div>
		        <% end %>
		    </div>
		</div>
		<br>
		<div class='row'>
			<div class='col'>
				<%= link_to consumer_monthly_path(@consumer, @monthly), class: "btn btn-outline-dark" do %>
            		<i class="fas fa-undo-alt"></i> Повернутись
        		<% end %>
			</div>
		</div>
	</div>
</div>