<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 1 %>" href="<%= consumer_en_payments_path(@consumer) %>">Поточний місяць</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 2 %>" href="<%= consumer_previous_en_consumptions_path(@consumer) %>">Попередні періоди</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 3 %> " href="<%= consumer_en_bid_path(@consumer) %>">Заявка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 4 %>" href="<%= consumer_messages_path(@consumer, cab: 'energy') %>">Запити</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if active == 5 %> " href="<%= consumer_en_adjustments_path(@consumer) %>">Коригування</a>
  </li>
</ul>