<%= render './consumers/card', consumer: @consumer, manager: @manager, style: 'energy' %>
<br>
<%= render './entab', active: 2 %>
<br>
<table class="table table-striped table-sm">
  <thead>
    <th class="text-center">Період</th>
    <th class="text-center">Сальдо на початок періоду, грн. з ПДВ</th>
    <th class="text-center">Фактичний обсяг, кВт*год</th>
    <th class="text-center">Ціна, грн. без ПДВ</th>
    <th class="text-center">Вартість, грн. без ПДВ</th>
    <th class="text-center">Вартість, грн. з ПДВ</th>
    <th class="text-center">Оплачено, грн.</th>
    <th class="text-center">Сальдо на кінець періоду, грн. з ПДВ</th>
  </thead>
  <tbody>
  <% @previous_en_consumptions.each do |consumption| %>
    <tr>
      <td class="text-center"><%= consumption&.date.strftime('%d.%m.%Y') %></td>
      <td class="text-center<%= ' text-danger' if consumption.opening_balance < 0 %>">
        <%= number_with_precision(consumption.opening_balance, precision: 2, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_delimiter(consumption.power, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_precision(consumption.tariff, precision: 5, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_precision(consumption.cost, precision: 2, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_precision(consumption.cost_val, precision: 2, delimiter: " ") %></td>
      <td class="text-center"><%= number_with_precision(consumption.money, precision: 2, delimiter: " ") %></td>
      <td class="text-center<%= ' text-danger' if consumption.closing_balance < 0 %>">
        <%= number_with_precision(consumption.closing_balance, precision: 2, delimiter: " ") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="#" class="btn btn-outline-dark"><i class="fas fa-file-download"></i> Отримати акт за <%= UA_MONTHS_SINGLE[1.months.ago.month] %> <%= 1.months.ago.year %> р.</a>
